
<div class = "w-[clamp(300px,90%,400px)] mx-auto  shadow-[0_0_10px_5px_rgba(0,0,0,0.15)] p-10 rounded-lg">
<h2 class = 'text-3xl font-bold mb-4 text-center' , class: 'font-semibold '>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email , class: 'font-semibold ' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email"  ,class: " w-full my-2 font-normal text-sm"%>
  </div>

  <div class="field">
    <%= f.label :password , class: 'font-semibold ' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" ,class: " w-full my-2 font-normal text-sm" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation , class: 'font-semibold ' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: " w-full my-2 font-normal text-sm" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" ,class: 'bg-gray-800 text-gray-50  w-full py-2 rounded-md font-semibold text-xl mt-4' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
