<section class = 'shadow-[0_0_1rem_5px_rgba(0,0,0,0.15)] rounded-sm w-[clamp(300px,90%,500px)] px-6 py-8 '>
  <h1 class = 'text-3xl font-bold mb-2'>Category Details </h1>
    <p  class = 'mb-2'>
      <strong>Category Name: </strong>
      <span class = 'text-gray-500 text-md'>
      <%= @category.name %>
      </span>
      </p>
    <p  class = 'mb-2'>
      <strong>Created At: </strong>
      <span class = 'text-gray-500 text-md'>
      <%= @category.created_at.strftime("%B %d, %Y %H:%M %p") %>
      </span>
      </p>
    <p  class = 'mb-2'>
      <strong>Updated At: </strong>
      <span class = 'text-gray-500 text-md'>
      <%= @category.updated_at.strftime("%B %d, %Y %H:%M %p") %>
      </span>
    </p>
  <div class = 'flex items-center justify-between'>
    <div>
      <%= link_to 'Back to Categories', categories_path,  class: 'bg-gray-200 rounded-sm font-semibold py-2 px-6 border-[1px] cursor-pointer text-sm text-gray-700' %>
      </div>
    <div class = 'flex items-center justify-between gap-4'>
      <%= render 'shared/edit-page',url: edit_category_path, obj: @category%>
      <%= render 'shared/delete-page',url: category_path, obj: [@category]%>

  </div>

</section>
