<!DOCTYPE html>
<html>
  <head>
    <title>JournalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/4a45b90c57.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <%= render 'layouts/nav' %>
 <div class='w-[clamp(300px,90%,1200px)] mx-auto'>
  <% unless notice.blank? %>
    <div class="flex justify-between items-center my-4  bg-green-200 text-green-900 px-4 py-2 rounded-md flex-grow-1">
      <p class="notic"><%= notice %></p>
      <button type="button" class="close-button" onclick="this.parentNode.style.display = 'none';">×</button>
    </div>
  <% end %>

  <% unless alert.blank? %>
    <div class="flex justify-between items-center my-4  bg-red-200 text-red-900 px-4 py-2 rounded-md flex-grow-1">
      <p class="alert"><%= alert %></p>
      <button type="button" class="close-button" onclick="this.parentNode.style.display = 'none';">×</button>
    </div>
  <% end %>


  <div class = 'flex items-center justify-center flex-col mt-10'>
      <%= yield %>
      </div>
  </div>

  </body>
</html>
